* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #38393a;
}

.textfooter {
    margin-left: 10rem;
}

.textfooter2 {
    margin-right: 7rem;
}

.gold-text {
    color: goldenrod;
}

.logo {
    margin-left: 15rem;
    margin-right: 15rem;
}

.logo364 {
    padding: 0 !important;
}